/* General Style for Landing Page Kế Toán MISA */
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.btn {
    padding: 0.75rem 2rem;
}

.btn.btn-with-icon {
    margin: 0 0.2rem;
    padding: 0.5rem;
    width: 40px;
}

/* Start NavBar */
.navbar-container {
    background-color: #dc3545;
}

.navbav {
    border: none !important;
}

.navbav-brand img {
    height: 40px;
}

.navbav-toggler {
    background-color: #dc3545;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #000000;
}
/* End NavBar */

/* Start Header Slider */

header {
    padding-top: 5.5rem;
    position: relative;
    width: 100%;
    text-align: center;
    min-height: auto;
    background-position: center center;
    background-repeat: no-repeat;
}

.carousel-item {
    height: 450px;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

/* End Header Slider */
/* Start Info */
.project-container {
    overflow: hidden;
    border-left: 10px solid white;
}

.project {
    background-size: cover;
    background-position: center center;
    position: relative;
    min-height: 480px;
    transition: transform 0.4s ease-in-out;
}

.project:hover {
    transform: scale(1.2);
}

.project .overlay {
    align-items: center;
    background-color: #dc3545;
    color: white;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    transition: opacity 0.4s ease-in-out;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.project:hover .overlay {
    opacity: 0.9;
}

/* End Info */

/* Start CSS Footer */

.pre-footer {
    background-color: #dc3545;
}

footer {
    background-color: #aa1322;
}

footer .text-muted,
.pre-footer .text-muted {
    color: #bbb !important;
}

footer .text-muted,
.pre-footer .text-muted {
    color: #bbb !important;
}

footer p,
.pre-footer p {
    margin: 0;
}

/* End CSS Footer */

/*********************** CSS Team*******************/
.box16{text-align:center;color:#fff;position:relative}
.box16 .box-content,.box16:after{width:100%;position:absolute;left:0}
.box16:after{content:"";height:100%;background:linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.08) 69%,rgba(0,0,0,.76) 100%);top:0;transition:all .5s ease 0s}
.box16 .post,.box16 .title{transform:translateY(145px);transition:all .4s cubic-bezier(.13,.62,.81,.91) 0s}
.box16:hover:after{background:linear-gradient(to bottom,rgba(0,0,0,.01) 0,rgba(0,0,0,.09) 11%,rgba(0,0,0,.12) 13%,rgba(0,0,0,.19) 20%,rgba(0,0,0,.29) 28%,rgba(0,0,0,.29) 29%,rgba(0,0,0,.42) 38%,rgba(0,0,0,.46) 43%,rgba(0,0,0,.53) 47%,rgba(0,0,0,.75) 69%,rgba(0,0,0,.87) 84%,rgba(0,0,0,.98) 99%,rgba(0,0,0,.94) 100%)}
.box16 img{width:100%;height:auto}
.box16 .box-content{padding:20px;margin-bottom:20px;bottom:0;z-index:1}
.box16 .title{font-size:22px;font-weight:700;text-transform:uppercase;margin:0 0 10px}
.box16 .post{display:block;padding:8px 0;font-size:15px}
.box16 .social li a,.box17 .icon li a{border-radius:50%;font-size:20px;color:#fff}
.box16:hover .post,.box16:hover .title{transform:translateY(0)}
.box16 .social{list-style:none;padding:0 0 5px;margin:40px 0 25px;opacity:0;position:relative;transform:perspective(500px) rotateX(-90deg) rotateY(0) rotateZ(0);transition:all .6s cubic-bezier(0,0,.58,1) 0s}
.box16:hover .social{opacity:1;transform:perspective(500px) rotateX(0) rotateY(0) rotateZ(0)}
.box16 .social:before{content:"";width:50px;height:2px;background:#fff;margin:0 auto;position:absolute;top:-23px;left:0;right:0}
.box16 .social li{display:inline-block}
.box16 .social li a{display:block;width:40px;height:40px;line-height:40px;background:#dc3545;margin-right:10px;transition:all .3s ease 0s}
.box17 .icon li,.box17 .icon li a{display:inline-block}
.box16 .social li a:hover{background:#bea041}
.box16 .social li:last-child a{margin-right:0}
@media only screen and (max-width:990px){.box16{margin-bottom:30px}
}
/*****************************************/

/*********************** Video PopUp *******************/
#popup {
    width:75%;
    margin:0 auto;
}
  
#popup iframe{
    width:100%;
    margin:0 auto;
  }
/*******************************************************/

/*********************** CSS Contact *******************/
#contact {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    overflow: hidden;
    padding-bottom: 200px;
}

.section-header {
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    margin-bottom: 50px;
    font: 300 60px 'Oswald', sans-serif;
    letter-spacing: 6px;
    color: rgb(88, 88, 88);
    margin-bottom: 25px;
}

.contact-wrapper {
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
    max-width: 800px;
}

/* Begin Left Contact Page */
.form-horizonal {
    float: left;
    max-width: 400px;
    font-family: 400px;
    font-weight: 400;
}

.form-control, textarea {
    max-width: 400px;
    background-color: #fff;
    color: #fff;
    letter-spacing: 1px;
}

.send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
}

.button {
    width: 400px;
    height: 34px;
    transition: all .2s ease-in-out;
}

.send-text {
    display: block;
    margin-top: 10px;
    font: 300 14px 'Lato', sans-serif;
    letter-spacing: 2px;
}

.button:hover {
    transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
    max-width: 400px;
    float: right;
    margin-top: 5px;
}

/* Location, Phone, Email Section */
.contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
}

.list-item {
    line-height: 4;
    color: #aaa;
}

.contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: #bbb;
}

.place {
    margin-left: 62px;
}

.phone {
    margin-left: 56px;
}

.gmail {
    margin-left: 53px;
}

.contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
}

.contact-text a:hover {
    color: #fff;
    text-decoration: none;
}

/*******************************************************/