/* General Style for Landing Page Kế Toán MISA */
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.btn {
    padding: 0.75rem 2rem;
}

.btn.btn-with-icon {
    margin: 0 0.2rem;
    padding: 0.5rem;
    width: 40px;
}

/* Start NavBar */
.navbar-container {
    background-color: #dc3545;
}

.navbav {
    border: none !important;
}

.navbav-brand img {
    height: 40px;
}

.navbav-toggler {
    background-color: #dc3545;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #000000;
}
/* End NavBar */

/* Start Header Slider */

header {
    padding-top: 5.5rem;
    position: relative;
    width: 100%;
    text-align: center;
    min-height: auto;
    background-position: center center;
    background-repeat: no-repeat;
}

.carousel-item {
    height: 450px;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

/* End Header Slider */
/* Start Info */
.project-container {
    overflow: hidden;
    border-left: 10px solid white;
}

.project {
    background-size: cover;
    background-position: center center;
    position: relative;
    min-height: 480px;
    transition: transform 0.4s ease-in-out;
}

.project:hover {
    transform: scale(1.2);
}

.project .overlay {
    align-items: center;
    background-color: #dc3545;
    color: white;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    transition: opacity 0.4s ease-in-out;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.project:hover .overlay {
    opacity: 0.9;
}

/* End Info */
/* Start CSS Footer */

.pre-footer {
    background-color: #333659;
}

footer {
    background-color: #2b2e4a;
}

footer .text-muted,
.pre-footer .text-muted {
    color: #bbb !important;
}

footer .text-muted,
.pre-footer .text-muted {
    color: #bbb !important;
}

footer p,
.pre-footer p {
    margin: 0;
}

/* End CSS Footer */